[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
[submodule "third_party/GmSSL"]
	path = third_party/GmSSL
	url = https://github.com/guanzhi/GmSSL.git
[submodule "third_party/liboqs"]
	path = third_party/liboqs
	url = https://github.com/open-quantum-safe/liboqs.git
[submodule "third_party/dilithium"]
	path = third_party/dilithium
	url = https://github.com/pq-crystals/dilithium.git
